[2018-04-04 14:30] jhayden2000 opened #2 "Update the Members Section of mobile app"
Hello. This is a thread to talk about the lacking functionality of the Members menu and how to improve it.

1. Bring the filter button to the root members page
2. Members thumbnails should also display their location, age, and gender
3. The members list should be the members that are closest to you by default
4. the map feature, should show you people close to your location. currently, when i clic

[2018-04-05 13:10] jhayden2000 opened #3 "iPhone apps not doing reactions"
At any posting on the demo app, when I hold down the like button, I don't get a list of reactions

This is an iPhone 7 with IOS 11

[2018-04-05 13:17] jhayden2000 opened #4 "Suggestion: make photo comments larger or clickable"
One big issue I see with photo comments is that they display very small in most cases but it's sporadic. They need to have either a default size that they all display in that is easily viewable or they need to be clickable so you can see a full screen version
![screenshot_20180405-091649](https://user-images.githubusercontent.com/20259022/38367984-185b32ee-38b2-11e8-9807-4bb641b77a54.jpg)

[2018-04-05 20:24] jhayden2000 opened #5 "Verify option not showing for all users"
Testing this on an Android Galaxy Note 8
I go to random user profiles
The verification options doesn't show up for all of them
![screenshot_20180405-162228](https://user-images.githubusercontent.com/20259022/38389914-c886b27a-38ed-11e8-9c13-c2fdbb863d86.jpg)
![screenshot_20180405-162211](https://user-images.githubusercontent.com/20259022/38389915-c89f136a-38ed-11e8-9afe-c8e8597e0efd.jpg)
![screens

[2018-04-07 16:36] jhayden2000 opened #6 "Suggestion: Make ads more noticable"
One problem our sponsors have with the ads on our app is that when youre scrolling down its hard to tell the ads from the normal posts.

I suggest there be a border around the ads or maybe more space between an ad and normal posts.

[2018-04-07 19:34] jhayden2000 opened #7 "Cant do multiple Scheduled posts"
We tried to do multiple Scheduled posts. Set 3 at different times and once we did that all three posts were posted immediately.

![screenshot_20180407-152356](https://user-images.githubusercontent.com/20259022/38459562-28f09e50-3a79-11e8-9c8b-00e69dd9fee2.jpg)

[2018-04-07 19:54] jhayden2000 opened #8 "App need to show storage errors"
Currently if you post a pic or video that is over the storage size or limit the apps freeze or crash.
We need the app to tell users that their have reached their storage limit or that their video or pic is too large to post.

[2018-04-09 04:24] bamboo81 commented on #6
I think, SEAO need add the Action button like Google Ads and Facebook Ads

[2018-04-11 13:31] jhayden2000 opened #9 "Suggestion: iPhone app needs to allow you to invite members to your groups"
Currently the iphone app doesnt allow you to invite your friends to a group that you are apart of or own. The android app does allow this.

This is an important item for anyone that wants to build their own community from their iphones.

[2018-04-11 13:37] #9 closed, assigned to nobody

[2018-04-12 10:23] ShivaniSEAO commented on #5
@jhayden2000 It was because of the Member Level Based Settings, but we have now changed the settings. Please check this again and confirm if it's working fine at your end.

Additionally, we would appreciate if you can please assign new issues by following a defined template.

[2018-04-12 10:28] ShivaniSEAO commented on #4
@jhayden2000 We have accepted your suggestion and will implement it in our Android Mobile App in near future release.

[2018-04-12 12:26] ShivaniSEAO commented on #2
Hello @jhayden2000 ,

Thanks for providing your suggestions. All the above points (except display age and gender along with the thumbnails on Members Page) are added in the Roadmap and will be implemented in near future release.

[2018-04-12 14:20] jhayden2000 commented on #5
i still dont see it on my Kahil Carlson account on Android or my Paul Shaual account on iPhone

[2018-04-12 14:22] jhayden2000 opened #10 "Suggestion: Verification upgrades"
2 things i realized. When i go to my profile, i cant see if im verified nor can i see what verifications users have left for me.

I think both of these should be possible. Members should be able to see their own verifications.
Also it would be nice if the veriication icon would show up  in more places then the profile page and the members page. Id like to see the icon on profile pics everywhere.
I

[2018-04-12 14:49] jhayden2000 commented on #2
Thx Shivani. It would be nice to get the age and gender added to the thumbnails. Alot of communities are built for dating, and that makes life easier! Do you guys have an ETA for these changes?

[2018-04-12 15:57] jhayden2000 opened #11 "Suggestion: iPhone light viewer upgrades"
Currently the light viewer in the iphone wont allow you to change your photo resolution or go to the album the pic is in. These functions are very handy in the Android version

[2018-04-13 09:47] ShivaniSEAO commented on #5
Please share your account login details at apps@socialengineaddons.com and user's name for which you are not able to see Verify option.

[2018-04-13 09:50] ShivaniSEAO commented on #2
Hi @jhayden2000 ,

1. It would be great if you can share a mock-up for Browse Members Page with us. We can have a look and may consider it for implementing in Mobile Apps.

2. It may take 6 weeks or less to release these enhancements in the Android Mobile App.

[2018-04-13 10:49] ShivaniSEAO commented on #6
Hi @jhayden2000 and @bamboo81 We would appreciate if you can provide us some references for improvements in Facebook Ads.

[2018-04-13 10:54] jhayden2000 commented on #6
For one, in general Facebook has a better spacing in between posts. Plus
Facebook allows a much bigger ads posting space.

On Fri, Apr 13, 2018, 6:49 AM Shivani- SEAO <notifications@github.com>
wrote:

[2018-04-13 11:05] bamboo81 commented on #6
I mean, The user can add the button to their Ads ex: "Order now", "View Details"...

[2018-04-13 17:48] ShivaniSEAO commented on #10
Hi @jhayden2000

1. Display tick icon (for the verified users) at bottom right side of User's Profile Picture wherever it appears across the app:
We have added this point in the road-map and it will be released in near future release.

2. User himself should be able to see who all have verified me:
Yes, that's a good point and we will definitely work on it. A Verified User will be able to see list

[2018-04-13 17:54] ShivaniSEAO commented on #7
Hello @jhayden2000 ,

Scheduled Posts are executed via Cron Job of Task Scheduler. So when a Cron Job runs, it process all the queued jobs at once. Thus, this is not an issue and it's behavior depends on the Time Limit you have set for Task Scheduler.

[2018-04-13 17:54] #7 closed, assigned to nobody

[2018-04-13 20:17] jhayden2000 commented on #7
Shivani. if you get a chance do this test and you will see what i mean.
Make a post and set the schedule for 15 minutes away
once you make the first post then immediately make a sond post and set it for 30 minutes away
then make a third set for 45 minutes away.

you should see all of them immediately post instead of posting at their scheduled times

[2018-04-16 14:31] jhayden2000 opened #12 "Suggestion: Group/ communities upgrade for posting"
one big issue i see with alot of our customers is that they find it annoying to always have to go to the groups menu to get to a specific group they joined, then to scroll down the list to find the group, and then open the group just so they can post. Its not very obvious considering apps like MeWe or Facebook make it alot simpler.

[2018-04-16 14:39] jhayden2000 opened #13 "Suggestion: Photo posting upgrade"
Sadly, photo posting in the app is very outdated. All the newer apps allow you to post and use filters ect.
It would be a really good option to add that to the app.

[2018-04-19 10:38] ShivaniSEAO commented on #13
@jhayden2000 we may work on this implementation, but would it be possible for you to share some plans and mockups for the same.

[2018-04-19 14:41] jhayden2000 commented on #13
Here are screenshots from Facebook, Instagram, and MeWe. It allows you to take pics and add filters text ect.
![screenshot_20180419-103731](https://user-images.githubusercontent.com/20259022/38998732-370039d0-43be-11e8-9aa2-346db5b947ae.jpg)
![screenshot_20180419-103600](https://user-images.githubusercontent.com/20259022/38998733-37302302-43be-11e8-86e5-3f1ee2057d28.jpg)
![screenshot_20180419-1037

[2018-04-19 17:39] jhayden2000 commented on #13
those pics i posted above are examples of the different options you get.
You can record a video or take a pic right from there. you can add filters, write text, dd stickers ect. all from there. all the major social media apps do this now. Also Whatsapp and Allo.

[2018-04-23 14:42] jhayden2000 opened #14 "Events, Groups "Join" and "Invite" buttons"
Our customers always ask how to join an event/group because they dont realize that they have to go to the top of the screen and click on the 3dots icon. It would be alot better if the join and invite buttons were right at the front of the event.

![screenshot_20180423-101447](https://user-images.githubusercontent.com/20259022/39133674-bc0a2ae2-46e2-11e8-858c-418a1bd506b5.jpg)

[2018-04-23 14:43] jhayden2000 opened #15 "Join groups, events from push notifications"
This is a really cool idea. Ive seen this on MeWe.
Another suggestion is to allow users to join events from the push notifications. There should be a button in the push notification to join events or groups when you get suggestions or invite.

[2018-04-25 09:14] jhayden2000 opened #16 "Suggestion: Global member search sort and filter"
1.I think it would be a great update if the advance members plugin allowed you to set a global sorting and filtering for the members menu. That way it could be set for any community based on what their most important goals are for searching.

2. When you press the magnifying glass, it should automatically open the filter.

[2018-05-03 16:17] herearii commented on #13
Hi,

I'm agree with what has been said above. It would be an advantage for us to apply filters to photos from the application (IOS / Android) or from the web version like instagram for exemple.

[2018-05-05 21:12] jhayden2000 opened #17 "Suggestion: Add user reviews to mobile app"
I think a big tool that is missing from the advanced members plugin is the reviews and ratings. This would be really good for us customers that run dating sites.

[2018-05-06 22:47] jhayden2000 opened #18 "Suggestion: Album creation from user profile"
One thing that our users find annoying is that they cant make an album in the app from their profiles or from the post status option. So at the very least we think that you should be able to go to the album section on your profile and create an album from there.

[2018-05-07 13:53] jhayden2000 opened #19 "Giphy support for the gif player"
The only thing worse then not having gif support is having gif support but having to leave the app to go search for gifs to use, only to come back to the app and use them.

The website has Giphy integration. This really needs to be added to the apps!

[2018-05-08 14:19] jhayden2000 opened #20 "Stories plugin bugs and suggestions"
1. When I add a second story, the new story should go to the front of the line, not the back.

2. When I record video stories, there is this weird still image that comes before it. Check my story out and see for yourself.

3. There should be a add story button on the home page

4. No effect filters and typing on a story makes this very bland.. these are important features.

5. You cant swipe left

[2018-05-10 01:54] jhayden2000 opened #21 "Bug: iPhone videos keep playing when you back out the video page"
here is a video of what im talking about. as you can see the video is uploaded and if i click on the back button i still hear the video playing.

https://drive.google.com/file/d/1GjXvfEeZg6kX0n4L3lXprSxYF3rvkTLO/view?usp=sharing

[2018-05-10 09:12] jhayden2000 opened #22 "No notifications when a user reaches disk quota!"
In the scenario that a user has a disk quota, and they are at that quota, and try to make a new post with a file that will take them oast the quota, the apps don't tell the user that they can't post because they ahve reached there max amount of disk space. This happens on the website but not on the apps. The Android app gives some weird error code and the iPhone just never posts. It won't tell you

[2018-05-10 14:46] jhayden2000 opened #23 "iPhone gifs not working correctly after the new update"
hello team, i have a video here for you to see what happened when i was checking out the new iphone update.

This is on an iPhone 8 with the lastest OS update.

https://drive.google.com/file/d/1QdJ5sYYoE_tbncNPrvUAWNaAyCDW8hT_/view?usp=sharing

[2018-05-14 18:24] jhayden2000 opened #24 "Greeting X button color change"
This is a minor tweaks, but can you make the x black? It needs to be more visible.

![screenshot_20180514-142043_socialengine](https://user-images.githubusercontent.com/20259022/40015783-6a8e8806-5782-11e8-90e1-f6eed57139f4.jpg)

[2018-05-14 22:31] LuisUrquilla opened #25 "Suggestion: Nested Comments / Advanced Comments"
### Platform and specifications (iOS, Android, Device Name, OS version)
1. iOS & Android

### Steps to reproduce
1.
- Try replying to a comment from other member.
- Try editing comment made on post.

### Expected result
1.
- Would like to be able to be able to reply to member comments.
- Would like to be able to be edit my own comment on post (in case of typo or change rewording)

### Actual resul

[2018-05-14 22:47] LuisUrquilla opened #26 "Issue: Menu Profile Banner - Stretched, loss of dimension."
### Platform and specifications (iOS, Android, Device Name, OS version)
1. iOS

### Steps to reproduce
1. Check your Menu's Profile Banner
![profile banner](https://user-images.githubusercontent.com/39282735/40027264-39d26992-57a7-11e8-840f-cbe8b6791d08.PNG)

### Expected result
1. Proportionally sized profile background banner.

### Actual result
1. Profile banner is stretched horizontally.

[2018-05-14 22:57] LuisUrquilla opened #27 "Suggestion: Directory/Pages Plugin - Add Map with Directions Link (Tab)"
### Platform and specifications (iOS, Android, Device Name, OS version)
1. iOS & Android

### Steps to reproduce
1. Search for page map & directions.

### Expected result
1. Page Map with directions.

### Actual result
1.  Page map with directions MISSING/ NOT AVAILABLE

[2018-05-14 23:00] LuisUrquilla opened #28 "Suggestion: Directory/Pages Plugin - Missing Location / Address Info"
### Platform and specifications (iOS, Android, Device Name, OS version)
1. iOS / Android

### Steps to reproduce
1. Search for page location/address.

### Expected result
1. As a directory plugin you would expect to find location/address information on the page.  The location information can be added to the page's profile details but NOT displayed on front end.

### Actual result
1. Missing locati

[2018-05-14 23:21] LuisUrquilla opened #29 "Issue: Notifications - Post Visited, Actions Notifications Still Marked "Unread""
### Platform and specifications (iOS, Android, Device Name, OS version)
1. iOS & Android

### Steps to reproduce
1.
- I receive 10 notifications from replies, comments and likes on the same post
- I click on one notification, I'm taken to the post and read all comments, actions that generated all 10 notifications.
- I still have 9 notification marked as unread although all 9 actions have already b

[2018-05-15 13:26] jhayden2000 commented on #25
Hey Luis, yes this is definitely a good idea.

[2018-05-15 13:27] jhayden2000 commented on #29
I confirm this is an issue even on my app.

[2018-05-15 14:28] jhayden2000 opened #30 "Advanced events overview field needed"
Hello. The description field in "create an event" page always gives us problems when we are copy and pasting something into it. We would much rather use the overview field which is rich text. Is this possible to add to the create event options?

[2018-05-16 00:49] LuisUrquilla opened #31 "Issue: Activty Feed - Liking a Post Affects Video Thumbnails"
### Platform and specifications (iOS, Android, Device Name, OS version)
1.  iOS

### Steps to reproduce
1.  While video thumbnails are visible on the activity feed, proceed to like a non-video post.

### Expected result
1.  The non-video post should simply receive a like.

### Actual result
1. The non video post receives a like but thumbnail of video post(s) disappear.  All you see is a white thum

[2018-05-16 01:18] LuisUrquilla opened #32 "Issue: Comments - Unable to Edit Inner Characters in Comment"
### Platform and specifications (iOS, Android, Device Name, OS version)
1. iOS

### Steps to reproduce
1. Post a sentence with 5 words
2. Edit the post and try to edit word #2
3. As soon as you type one character the cursor repositions automatically at the end of the sentence.

### Expected result
1. Should be able to edit any character between the first and last word.

### Actual result
1.  As so

[2018-05-16 02:52] LuisUrquilla commented on #31
Update:  tested on Android, this is an iOS issue only.

[2018-05-16 08:33] ShivaniSEAO commented on #32
@LuisUrquilla Thanks for reporting this issue. Do you mean that:

Suppose you wrote "Hey, how are you doing ?" from Status Box
Now, when you try to edit "how" in feed, the cursor goes to the end of sentence i.e. at the end of phrase "doing" ?

Please confirm. If I got you wrong, then please explain us with an example.

[2018-05-16 08:38] ShivaniSEAO commented on #31
@LuisUrquilla It would be great if you can please share a screenshot for this issue.

[2018-05-16 10:00] ShivaniSEAO commented on #25
Hi @LuisUrquilla Implementation of Nested Comments is already in the road-map and we will release it soon in Android Mobile App.

[2018-05-16 10:02] ShivaniSEAO commented on #24
Hi Kahil Cross icon in Black Color won't go with the app. We have used grey color for icons, separators etc. across the app.

[2018-05-16 10:02] #24 closed, assigned to nobody

[2018-05-16 15:10] LuisUrquilla commented on #31
![feed](https://user-images.githubusercontent.com/39282735/40125777-bb718de0-58f9-11e8-8e79-e187259ff572.PNG)

[2018-05-16 15:13] LuisUrquilla commented on #32
That is correct, the cursor will always immediately jump to the end of the sentence, making it difficult to edit the comment.

[2018-05-16 15:23] LuisUrquilla opened #33 "Issue: Notifications - Tapping on Notification Does Not Link to Post's Triggered Action (Like, Comment)"
### Platform and specifications (iOS, Android, Device Name, OS version)
1. iOS (Android if fine)

### Steps to reproduce
Try this on a post will at least 5 comments

1. Tap on notification
2. You're taken to the post.
3. You have to manually scroll to the bottom of the comments to view most recent activity. On a post with a long history of comments, scrolling is is a very tedious thing to do.

###

[2018-05-16 16:00] LuisUrquilla commented on #25
Excellent, this is a feature most end users would expect to find in a social app.

Thanks Shivani.

[2018-05-16 16:06] jhayden2000 commented on #25
Shivani is it close to working on the iPhone?

On Wed, May 16, 2018, 12:01 PM LuisUrquilla <notifications@github.com>
wrote:

[2018-05-18 22:34] jhayden2000 commented on #33
i have this issue when somoene likes my comments

[2018-05-18 22:35] jhayden2000 commented on #32
tested, i also get this issue

[2018-05-18 22:37] jhayden2000 opened #34 "Bug: videos posting gives an error"
This is on iPhone

![img_0056](https://user-images.githubusercontent.com/20259022/40260778-8fc92086-5aca-11e8-8b3e-44b9d0089abf.png)
![img_0058](https://user-images.githubusercontent.com/20259022/40260779-8fd84778-5aca-11e8-94cd-6d85fb5e9735.png)
![img_0060](https://user-images.githubusercontent.com/20259022/40260780-8fe6354a-5aca-11e8-8109-a4b5a1e4da48.png)

[2018-05-18 22:43] jhayden2000 opened #35 "bug: iPhone app has a delay when liking comments"
### Platform and specifications (iOS, Android, Device Name, OS version)
1.  IOS

Its intermittent but im sure others get this issue as well.

https://drive.google.com/file/d/1sK5Ghzq4aMSyTF_xWp8-nL4rjh6nfihC/view?usp=sharing

[2018-05-18 22:48] jhayden2000 commented on #35
here is another.

https://drive.google.com/file/d/1HsF2nINa_BlVy1FU2d71cNG1EL_ZilgB/view?usp=sharing

[2018-05-18 23:20] jhayden2000 opened #36 "BUG: iPhone false notification count. Please fix!!"
### Platform and specifications (iOS, Android, Device Name, OS version)
1. IOS

If there is one thing that my iphone customers hate, its the notification system. Mainly because their count is never accurate: the App icon will say one number, while the notification button onside the app will say another, and the notification list will show a different amount.

![img_0064](https://user-images.github

[2018-05-19 01:23] LuisUrquilla commented on #36
Yeah, that drives me in sane.  It’s been an ever lasting issue.

[2018-06-01 20:41] LuisUrquilla commented on #13
Yes, please.  Can this be added to the apps?

Thanks

[2018-06-14 19:45] ghost opened #37 ""feelings" not showing on iPhone app"
### Platform and specifications (iOS, Android, Device Name, OS version)
1.  iOS

### Steps to reproduce
1.  Posted update on Mobile demo (via desktop) using the "feeling" feature.

### Expected result
1. To see the same "feeling" feature shown on the iPhone app.

### Actual result
1.  The post shows on the iphone but without the feeling.
![screen shot 2018-06-14 at 20 42 06](https://user-images.gi

[2018-06-15 07:35] ShivaniSEAO commented on #37
Hello Russel,

"Feelings and Activity" feature is not yet implemented in iOS Mobile App. Rest all new features of Advanced Activity Feeds, except Feelings & Activity and Stickers, will be released in our demo iOS Mobile App by early next week.

[2018-06-15 07:35] #37 closed, assigned to nobody

[2018-06-16 17:01] PapasFritasUSA commented on #36
I have this problem too, seao Need to fix this problem asap

[2018-06-16 18:31] PapasFritasUSA commented on #32
@ShivaniSEAO  I think this is not fixed yet, this bug so bother me. i think this is very big major bug nwo

check this bug:

https://1drv.ms/v/s!AmNA-VwAFMdjguM79GVXujYsjPXnkQ.

I am using onedrive from microsoft, so it is safe open and watch it

thank you

[2018-06-17 08:57] ghost opened #38 "Sell Something currency wrong"
### Platform and specifications (iOS, Android, Device Name, OS version)
1.
 iOS

### Steps to reproduce
1.
Added an item for sale in GBP (£)

### Expected result
1.
To have the item show in GBP (£)
### Actual result
1.
The item posted saying GBP, but showed with a dollar sign and not the correct currency symbol for GBP (£)
![img_4135](https://user-images.githubusercontent.com/40277625/41506391-ce3

[2018-06-19 13:23] jhayden2000 commented on #36
It would be nice if you ould make a "mark as read" button like the website does, so we can clear the notifications

[2018-06-23 19:09] wdag73 opened #39 "Crowdfunding / Fundraising Apps Integration"
Since many of us are on our phones today, it would be great to get the crowdfunding / Fundraising plugin integrated within our apps so that we clients and crowdfund SEAO development.

By integrating this app, it would also show us clients a 'roadmap' of which projects are being 'crowdfunded' and worked on first, according to the amount raised. Win-win for everyone.

[2018-06-29 09:22] ShivaniSEAO commented on #34
Hello @jhayden2000 ,

We have checked this issue by uploading Videos in multiple devices in iOS Mobile App and Video Uploading is working fine in the app. Please verify the issue and confirm so, we can close the issue.

[2018-06-29 09:23] ShivaniSEAO commented on #30
Hello @jhayden2000 ,

We would like to bring in your kind knowledge that we do have a separate field for "Overview" with a "Rich Text Editor". When you complete Event Creation Form and hit "Create Event" button, you will be redirected to a new page where you can add "Overview" for that Event.

You can cross-verify at your end and confirm.

[2018-06-29 09:24] ShivaniSEAO commented on #28
Hello @LuisUrquilla ,

Thanks for your suggestion. We agree with what you said and would definitely work on it in near future.

Would you like to share any UI references to display location at Directory /Page's Profile page ?

[2018-06-29 09:25] ShivaniSEAO commented on #26
Hello @LuisUrquilla ,

We were able to replicate this issue in Demo App and we will resolve it in near future upgrade of the app.

[2018-06-29 09:26] ShivaniSEAO commented on #20
Hello @jhayden2000 ,

Thanks for providing your feedback on Stories Feature. We had gone through your suggested points and already taken many of them into consideration. You can test Stories Feature in Live Demo Android Mobile App to verify.

[2018-06-29 09:26] #20 closed, assigned to nobody

[2018-06-29 09:27] ShivaniSEAO commented on #16
Hi @jhayden2000 ,

1. We are sorry but we didn't exactly understand your point. It would be great if you can please elaborate this a bit more for better clarification.

2. We are already working on improving the Search Functionality in our app and we may look into the possibilities to implement your suggestion in the apps in future.

[2018-06-29 09:28] ShivaniSEAO commented on #15
Hi @jhayden2000 ,

'Advanced Features of Push Notifications' are already added in the Roadmap and we will work on it in future. Implementing this feature may take some time.

[2018-06-29 09:28] ShivaniSEAO commented on #12
Hi @jhayden2000 ,

We didn't exactly get your point. Please confirm if you want a Menu for "Joined Groups" in the App Dashboard ?

[2018-06-29 09:29] ShivaniSEAO commented on #11
Hi @jhayden2000 ,

Please provide us a screenshot for the feature you are referring to in the Android Mobile App. It will help us to understand your point better.

[2018-06-29 09:30] ShivaniSEAO commented on #5
Hello @jhayden2000,

If you are still facing this issue, then please provide us above requested account details. Else, we can close this issue.

[2018-06-29 14:36] jhayden2000 commented on #5
its working. thanks.

[2018-07-03 07:21] pujabigstep commented on #21
Hello @jhayden2000 ,

We were able to replicate this issue in Demo App and we will resolve it in near future upgrade of the app.

[2018-07-05 05:40] SEAO-MobileApps commented on #14
Hello @jhayden2000,

Thanks for your suggestion.

We are glad to inform you that we will work on redesigning all Module's Profile Pages so, we will consider your point while working on new designs.

[2018-07-05 05:58] SEAO-MobileApps commented on #18
Hello @jhayden2000,

Thanks for your suggestion. We agree what you said and would definitely work on it in near future.

[2018-07-06 09:59] SEAO-MobileApps commented on #35
Hello @jhayden2000,

We were able to replicate this issue in Demo App and we will resolve it in near future upgrade of the app.

[2018-07-08 16:17] wdag73 commented on #2
@ShivaniSEAO ... This post was Three Months ago and you said less then 6 weeks? ... When is this going to be released?

[2018-07-20 11:31] ShivaniSEAO opened #40 "Alpha Testing of Android App - Feedback Points"
Hi Guys,

Please add your Feedback Points, Suggestions and Issues in comments below.

[2018-07-23 15:43] wdag73 commented on #40
So far this sounds like an amaaaaazing improvement especially upgrading our apps to be 'by location' which is so important in a social 'networking' environment. The only thing left Crowdfunding plugin integration within the apps. Awesome news!! Keep up the great work Shivani! :) Ward

[2018-07-25 10:14] jhayden2000 opened #41 "Map view crashing"
### Platform and specifications (iOS, Android, Device Name, OS version)
1.
 Android 8.1

### Steps to reproduce
1.
Go to members menu
click on the map view
click on the profile you are logged in as

### Expected result
1. i dont even think your own profile should show up, but since it does, i would expect it to bring you to your profile

### Actual result
1. app crashes

[2018-07-25 10:17] jhayden2000 opened #42 "Auto location makes the event menu blank"
When i have auto location detection on, the event menu is blank. im guessing this is because its looking for an event specifically in your area. This is a bad way to set this. It should show events in the order of closest to furthest.

[2018-07-25 10:39] jhayden2000 opened #43 "Auto location detection didnt automatically start"
### Platform and specifications (iOS, Android, Device Name, OS version)
1. Note 8, Androis 8.1

### Steps to reproduce
1.  My app updated and i was already logged in. When i opened the app, it never gave me a notice to turn on the GPS.
2. Also. when im in the app, and autolocation is working, if i turn my GPS off, im never asked again to turn the GPS back on. even if i close the app and open it ba

[2018-07-25 10:48] jhayden2000 opened #44 "Videos recorded in portrait mode are coming out stretched in video light view"
### Platform and specifications (iOS, Android, Device Name, OS version)
1. note 8, Android 8.1

when i post a video in Portrait orientation, and i click on it from the home page, it starts to play stretched out across the screen.

https://drive.google.com/file/d/1TSWWqCneySLaEm99g5Y0wbpBeGkVpweI/view?usp=sharing

[2018-07-25 10:54] jhayden2000 opened #45 "Change how this highlight is seen."
This highlight is really hard to see. If you are scrolling down the page at a moderate speed it can easily be missed.
![screenshot_20180725-064903_socialengine](https://user-images.githubusercontent.com/20259022/43196924-9694709a-8fd7-11e8-9021-e563f0ac27cc.jpg)

[2018-07-25 11:06] jhayden2000 commented on #40
When i have auto location detection on, the event menu is blank. im guessing this is because its looking for an event specifically in your area. This is a bad way to set this. It should show events in the order of closest to furthest.

This also happens for the directory menu as well.

[2018-07-25 11:07] jhayden2000 commented on #40
My app updated and i was already logged in. When i opened the app, it never gave me a notice to turn on the GPS.
Also. when im in the app, and autolocation is working, if i turn my GPS off, im never asked again to turn the GPS back on. even if i close the app and open it back up. Thats not good. if my GPS is off, i should be asked to turn it on atleast every time i open the app up.

[2018-07-25 11:08] jhayden2000 commented on #40
when i post a video in Portrait orientation, and i click on it from the home page, it starts to play stretched out across the screen.

https://drive.google.com/file/d/1TSWWqCneySLaEm99g5Y0wbpBeGkVpweI/view?usp=sharing

[2018-07-25 11:09] jhayden2000 commented on #40
The app crashes when i:
Go to members menu
click on the map view
click on the profile you are logged in as

[2018-07-25 11:10] jhayden2000 commented on #40
This highlight is really hard to see. If you are scrolling down the page at a moderate speed it can easily be missed.
![43196924-9694709a-8fd7-11e8-9021-e563f0ac27cc](https://user-images.githubusercontent.com/20259022/43197635-c504a65a-8fd9-11e8-997d-59ed6e8db31a.jpg)

[2018-07-25 11:12] #44 closed, assigned to nobody

[2018-07-25 11:12] #45 closed, assigned to nobody

[2018-07-25 11:12] #41 closed, assigned to nobody

[2018-07-25 11:12] #43 closed, assigned to nobody

[2018-07-25 11:13] #42 closed, assigned to nobody

[2018-07-25 12:02] wdag73 commented on #40
1 a) On the app sign up page every other app out there today has a 'Next' button below the sign up options / flow while you guys have an 'arrow' at the top right which is very poor UI design.

1 b) Being that everyone is mobile today, it would be great if the OTP plugin (option) was integrated with our apps and made a priority to cut down on trolls / fake users.

2) After manually having to click

[2018-07-25 13:05] jhayden2000 commented on #40
I'm driving right now, and I just noticed that the auolocation detection hasn't detected my change in location

[2018-07-25 14:54] jhayden2000 commented on #40
Auto Location is acting buggy.
https://drive.google.com/file/d/1EJLdv3KT66-52evQM_Oo7RHKrVNdtFT_/view?usp=sharing

[2018-07-25 19:48] jhayden2000 commented on #40
Having video posting issues in stories and in regular posting
https://drive.google.com/file/d/1FHyXJaewyOfdyVRGWfZHIkfpKxBgxwH6/view?usp=sharing

https://drive.google.com/file/d/1Px0pL3F7WLRyuUqOI38RhqxhKWgu9dEA/view?usp=sharing

[2018-07-26 01:13] jhayden2000 opened #46 "iphone app crashes when i post videos"
The ios app keeps crashing when i try to post a video, but when i open the app, the video is still processing and eventually is view able but it shows that i uploaded 2 videos

[2018-08-01 11:12] wdag73 commented on #28
@Shivani, the same is true for the Groups / Communities plugin. Everyone is on their apps today and these two plugins should be listed according to users location (?? miles away) and have address on the listing results. For UI suggestions, go to Facebook.

[2018-08-02 23:03] wdag73 opened #47 "Add to Diary? (Bookmarks)"
Instead of having 'Add to Diary', there should be just ONE button for ALL of our plugins called 'Save' that brings the user to just ONE page that lists the plugins menu on the left (i.e, videos, blogs, classifieds, videos, etc) and all the Saved and / or bookmarked items listed on the right.

Right now the Add to Diary is confusing for me (being with SEAO for ten years) let alone new users. If the

[2018-08-02 23:03] wdag73 opened #48 "Add to Diary? (Bookmarks)"
Instead of having 'Add to Diary', there should be just ONE button for ALL of our plugins called 'Save' that brings the user to just ONE page that lists the plugins menu on the left (i.e, videos, blogs, classifieds, videos, etc) and all the Saved and / or bookmarked items listed on the right.

Right now the Add to Diary is confusing for me (being with SEAO for ten years) let alone new users. If the

[2018-08-06 17:03] jhayden2000 opened #49 "Allow viewing info section of private profiles"
On the website, you can open profiles that have their profile privacy set to "friends only". You can see the profile info, and the users profile photo.

On the apps, if you click on a profile with the profile privacy set to "friends only" you get an error message that says "this profile can't be viewed"

I suggest you allow us to see the same information on the app that you can see on the website.

[2018-08-16 08:06] ShivaniSEAO commented on #35
Hi @jhayden2000 ,

This issue have been resolved and working fine in Live iOS App. Please verify and open this issue again in case if you'll have any further concerns or comments.

[2018-08-16 08:06] #35 closed, assigned to nobody

[2018-08-16 08:06] ShivaniSEAO commented on #21
Hi @jhayden2000 ,

This issue have been resolved and working fine in Live iOS App. Please verify and feel free to open this issue again in case if you'll have any further concerns or comments.

[2018-08-16 08:06] #21 closed, assigned to nobody

[2018-08-16 08:10] ShivaniSEAO commented on #36
Hi @jhayden2000 , @LuisUrquilla @PapasFritasUSA

This issue have been resolved and working fine in Live iOS App. Please verify and feel free to open this issue again in case if you'll have any further concerns or comments.

[2018-08-16 08:10] #36 closed, assigned to nobody

[2018-08-16 08:13] ShivaniSEAO commented on #32
Hi @jhayden2000 , @LuisUrquilla @PapasFritasUSA

This issue have been resolved and working fine in Live iOS App. Please verify and open this issue again in case if you'll have any further concerns or comments.

[2018-08-16 08:13] #32 closed, assigned to ShivaniSEAO, LuisUrquilla

[2018-08-16 08:15] ShivaniSEAO commented on #26
Hi @LuisUrquilla  ,

This issue have been resolved and working fine in Live iOS App. Please verify and open this issue again in case if you'll have any further concerns or comments.

[2018-08-16 08:15] #26 closed, assigned to ShivaniSEAO

[2018-08-17 07:31] ShivaniSEAO opened #50 "Release Notes - Major Release of Android Mobile App - August, 2018"
**Release Notes**

- [x] Store and Product Creation
- [x] Android 8 (Oreo) compatibility
- [x] Video Play in Activity Feed itself
- [x] Quick Video Uploading
- [x] Quick Content Posting from Status Box
- [x] New Slideshow
- [x] New Login Screen
- [x] App Tour/ Walk Through
- [x] Location Auto-Detection
- [x] Implementation of Map View in Multiple Listing Types and Members Page
- [x] View Toggling

[2018-08-17 07:50] jhayden2000 commented on #21
i see that. only problem is you can only use that field once when creating the event. you cant edit it after you have created it.

[2018-08-17 07:51] jhayden2000 commented on #34
im no longer seeing this issue.

[2018-08-18 16:27] PapasFritasUSA opened #51 "Ios comment error"
When i comment and click sent button, i got error.

You need to post more comment that error will show.

When you write like said 12 more word, it will show this errors when you ready to post, it will erase what did you wrote.

https://1drv.ms/u/s!AmNA-VwAFMdjgvsG3FmZRbtqQ-OLOg

[2018-08-18 16:30] PapasFritasUSA opened #52 "Ios collection bug"
Did u guy test at your end first

Also lot bug on latest version, it already update last week for Four time already, the bug still there.

Some bug fix and some bug fix and coming back

https://1drv.ms/w/s!AmNA-VwAFMdjguQTQLGzPkOiuO3DWQ

https://1drv.ms/w/s!AmNA-VwAFMdjguNJcmf6Pof9WMyAhA

[2018-08-19 04:08] PapasFritasUSA opened #53 "Notification Count still did not fix it"
OS: IOS
phone: X
Version:11.4.1

Show one count notificaiton in app, but app icon  show count for 8. What is going on?

https://1drv.ms/f/s!AmNA-VwAFMdjgvsHBQIpnAJCsGKFLw

Test it before share to other people

[2018-08-19 06:09] PapasFritasUSA commented on #36
Did not fix anything? I create another issue already.

[2018-08-19 17:31] PapasFritasUSA commented on #36
@SEAO-MobileApps  @ShivaniSEAO  @bigsteptech

Latest version i already update two time now at apple store:

https://1drv.ms/u/s!AmNA-VwAFMdjgvsLTTVNLEgG1NdvVg

Bug
https://github.com/BigStepTechnologies/SocialEngineAddOns-MobileApps/issues/53

[2018-08-19 17:35] PapasFritasUSA commented on #36
I did repost:

https://github.com/BigStepTechnologies/SocialEngineAddOns-MobileApps/issues/53

[2018-08-19 17:46] PapasFritasUSA commented on #53
i am very disappoint and you guy dismiss/ignore  this issue, also close bug.

[2018-08-19 17:47] PapasFritasUSA commented on #53
@SEAO-MobileApps  @ShivaniSEAO  @bigsteptech

[2018-08-19 17:47] PapasFritasUSA commented on #52
@SEAO-MobileApps  @ShivaniSEAO  @bigsteptech

[2018-08-20 05:55] PapasFritasUSA commented on #53
This video show this error

https://1drv.ms/v/s!AmNA-VwAFMdjgvsrJL-D4JC8RbdHxA

Show 15 app icon badge

And inside the app show only one notification icon

[2018-09-18 04:37] ShivaniSEAO opened #54 "iOS App Release 2.5.6 - Feedback"
- [ ] Auto-suggest Search Results
- [ ] Login Screen - New Interface
- [ ] Store and Product Creation
- [ ] On-the-spot Video Playing in Activity Feeds
- [ ] New Material Design based App Slideshow
- [ ] App Tour / App Walk Through
- [ ] Location Auto-detection
- [ ] Map View in Multiple Listing Types and Members Page
- [ ] Two View Types on Multiple Listing Types Module Browse Pages
- [ ] Two Vie

[2018-09-19 12:52] LuisUrquilla commented on #28
Wdag73 makes a great point, no need to reinvent the sheel.  A true 100% directory format should be available for sure Admins wanting to run a biz directory service.  Currently the Pages/Directory plugin leans more towards Regular pages for personal use.

Key features missing here are location & contact info/options.  There should be two action buttons clearly visible “Call” and “Mesage”.

On busin

[2018-10-11 04:03] LuisUrquilla opened #55 "Android & iOS Issue - Page Reviews Lost After Edit"
### Platform and specifications (iOS, Android, Device Name, OS version)
1.
iOS12.0, iPhone7
Android 8.0.0, Galaxy S7

### Steps to reproduce
1. Create a page review on iOS
2. Now edit review on Android, you'll notice there are no star rating available to adjust, only review questions.
3. Make changes to questions and save.

### Expected result
1. For updated review/rating to have updated.

### Act

[2018-10-11 04:05] LuisUrquilla commented on #54
Hi Shivani,

The update looks great, I haven't found major issues yet. The only issue I found with Ratings/reviews I already reported just a few minutes ago.

The app is looking awesome, please keep up the great work.

Thanks.

[2018-11-15 06:07] LuisUrquilla commented on #28
![page profile](https://user-images.githubusercontent.com/39282735/48533468-9e9ff900-e872-11e8-9f90-6d3ff8a10b31.PNG)
![search rsults](https://user-images.githubusercontent.com/39282735/48533469-9e9ff900-e872-11e8-92f4-c615aeec42b4.png)
Hello, these are my suggestions for the Directory Layouts on search results and business profile.  These layouts should be selected from the admin panel NOT the en

[2018-11-15 06:13] LuisUrquilla commented on #28
Another thing to be included is the page rating, it should be visible on page search results in the following locations.
![page profile](https://user-images.githubusercontent.com/39282735/48533755-b330c100-e873-11e8-9f24-d0ae722b57aa.PNG)
![search rsults](https://user-images.githubusercontent.com/39282735/48533756-b330c100-e873-11e8-9d30-a754482f7bfb.png)

[2018-11-15 06:16] LuisUrquilla opened #56 "Star Ratings Not displayed on Activity Feeds for Mobile Apps"
### Platform and specifications (iOS, Android, Device Name, OS version)
1.  iOS and Android

### Steps to reproduce
1. Reviews don't display star rating on activity feeds of mobile apps

### Expected result
1.  You should be able to see the review AND the star ratings just as you do on the website.

### Actual result
1. You can only see the review but NOT the star ratings.

[2019-01-03 04:53] BikersPost opened #57 "iOS App Delete Photo"
On the iOS App you can Share Outside, Save, Report and Make Profile Photo but you Can't Delete a photo???

![img_7379](https://user-images.githubusercontent.com/12618841/50623986-56539d80-0ee9-11e9-8db0-a46de7eb722f.PNG)
![screen shot 2019-01-02 at 11 53 20 pm](https://user-images.githubusercontent.com/12618841/50624007-a0d51a00-0ee9-11e9-8ab6-b35ae3bea86b.png)

[2019-02-01 08:47] ShivaniSEAO opened #58 "Photos and Videos thumbnail improvements"
### Platform and specifications (iOS, Android, Device Name, OS version)
1. Android

### Steps to reproduce
1. Go to AAF and have a look at Photo / Video feeds. Photos and Videos in feeds don't display in full width. They have some margin on left and right side of screen.

### Expected result
1. Photos in the Preview and in the Feeds should display in full width, with no margin on left and right si

[2019-02-01 11:24] ShivaniSEAO opened #59 "Map looks compressed in feeds in iOS App"
### Platform and specifications (iOS, Android, Device Name, OS version)
1. iOS

### Steps to reproduce
1. Go to Activity Feeds > Check-in > Feed with the map will get generated > map in feed looks a bit compressed

### Expected result
1. Map should not look compressed like Android.

### Actual result
1. Map looks a bit compressed

### Screenshot:
![89768](https://user-images.githubusercontent.com/

[2019-02-13 09:30] yogesh-kumar-gupta-bs commented on #59
Issue resolved

[2019-02-27 11:28] Anubhav9865 commented on #52
https://onedrive.live.com/view.aspx?resid=63C714005CF94063!45587&ithint=file%2cdocx&app=Word&authkey=!AECxsz5Dorjtw1k

[2019-03-07 05:53] ShivaniSEAO commented on #59
Issue resolved and can be verified from Live Demo App.

[2019-03-07 05:53] #59 closed, assigned to nobody

[2019-03-12 05:17] ShivaniSEAO opened #60 "Integration with Instagram"
### Platform and specifications (iOS, Android, Device Name, OS version)
1. iOS and Android

### Steps to reproduce
1. NA

### Expected result
1. When our users connected via Instagram, give then an option on their profiles to fetch and select photos from Instagram to SocialEngine App

### Actual result
1. When our users connected via Instagram, give then an option on their profiles to fetch and se

[2019-03-12 05:22] #54 closed, assigned to nobody

[2019-03-15 10:09] ShivaniSEAO opened #61 "Facebook Inviter"
### Platform and specifications (iOS, Android, Device Name, OS version)
1. iOS and Android

### Steps to reproduce
1. At the end of the Sign up the process or anytime after the Signup Process, the user should be able to invite their Facebook Friends into the app.

### Expected result
1. Functionality not implemented yet

### Actual result
1. At the end of the Sign up the process or anytime after t

[2019-03-20 12:29] #34 closed, assigned to jhayden2000

[2019-03-28 08:37] ShivaniSEAO commented on #58
It has been implemented in the Android. Please check in Live Demo Android App and get your app upgraded with the updated code.

[2019-03-28 08:37] #58 closed, assigned to ShivaniSEAO

[2019-03-28 08:38] ShivaniSEAO commented on #2
Members section has been improved in both iOS and Android Mobile Apps.

[2019-03-28 08:38] #2 closed, assigned to nobody

[2019-03-28 08:39] ShivaniSEAO commented on #4
It has been implemented in both iOS and Android Mobile Apps.

[2019-03-28 08:39] #4 closed, assigned to nobody

[2019-03-28 08:41] ShivaniSEAO commented on #25
Nested Comments has been implemented in the Android App and we will be implementing it in the iOS App in the near future.

[2019-03-28 08:42] ShivaniSEAO commented on #39
Crowdfunding has been implemented in the Android App and we will be implementing it in the iOS App in the near future.

You can check details and purchase this service to include in your Android app on below service Link ->
https://www.socialengineaddons.com/services/crowdfunding-plugin-mobile-apps-socialengine

[2019-03-28 08:44] ShivaniSEAO commented on #28
We have planned out this feature in a little different way than your suggested one and will be working on it in near future. It will take 2-3 months of time.

[2019-03-28 09:13] Anubhav-QAGuy commented on #56
Hi @LuisUrquilla,

I didn't exactly understand your point, I would appreciate if you could be more Descriptive about the Requirement.
Also please attach Screenshots for better understanding.

[2019-03-28 09:31] SEAO-MobileApps commented on #55
Hi @LuisUrquilla

We tried Replicating this but it didn't Replicate on our end.

If this bug specifically exists in your app then please file a support ticket at apps@socialengineaddons.com

[2019-03-28 09:31] #55 closed, assigned to nobody

[2019-03-28 09:33] SEAO-MobileApps commented on #53
Duplicate issue of Git Id ->

https://github.com/BigStepTechnologies/SocialEngineAddOns-MobileApps/issues/52

[2019-03-28 09:33] #53 closed, assigned to nobody

[2019-03-28 09:36] SEAO-MobileApps commented on #51
Hi @PapasFritasUSA

We tried Replicating this bug on the same feed as shown in the screenshot but it is not Replicating on our End.

[2019-03-28 09:36] #51 closed, assigned to nobody

[2019-03-28 09:41] SEAO-MobileApps commented on #47
Duplicate of Git Id -

https://github.com/BigStepTechnologies/SocialEngineAddOns-MobileApps/issues/48

[2019-03-28 09:41] SEAO-MobileApps commented on #47
Duplicate of Git Id -

https://github.com/BigStepTechnologies/SocialEngineAddOns-MobileApps/issues/48

[2019-03-28 09:41] #47 closed, assigned to nobody

[2019-03-28 09:51] SEAO-MobileApps commented on #46
Hi @jhayden2000

This issue has been fixed in previous upgrades, please let us know if there's anything further apart from this.

[2019-03-28 09:51] #46 closed, assigned to nobody

[2019-03-28 10:46] SEAO-MobileApps commented on #31
Hi @LuisUrquilla
This Issue fixed in previous Releases, please let us know if there's anything further apart from this.

[2019-03-28 10:46] #31 closed, assigned to LuisUrquilla

[2019-03-28 11:31] SEAO-MobileApps commented on #27
Hi @LuisUrquilla,

As we are Redesigning many of the pages of our App, We have considered your suggestion and clicking on Direction user will be Redirected to map.

[2019-03-28 11:46] SEAO-MobileApps commented on #22
Hi @jhayden2000

This is working fine for Android and for iOS we have added it in Roadmap, it will be fixed within few next releases.

[2019-03-28 12:00] LuisUrquilla commented on #28
Thank you for the follow up

Sent from my iPhone

[2019-03-28 12:10] SEAO-MobileApps commented on #48
Hi @wdag73

Please correct me if i'm wrong, Do you want us to show a "Save" menu in app dashboard clicking on which user will be able to access all the saved items from Wishlists, diaries etc.

[2019-03-28 12:12] #30 closed, assigned to jhayden2000

[2019-03-28 12:20] SEAO-MobileApps commented on #23
This issue has been resolved.

[2019-03-28 12:20] #23 closed, assigned to nobody

[2019-03-28 12:22] SEAO-MobileApps commented on #19
Hi @jhayden2000

We have forwarded this Feature Request to our Concerned Team and they will look into the possibilities to implement in the App.

[2019-03-28 12:25] #16 closed, assigned to jhayden2000

[2019-03-28 12:26] SEAO-MobileApps commented on #3
Its working fine now, please check in the App and feel free to open this issue again if issue still exists.

[2019-03-28 12:26] #3 closed, assigned to ShivaniSEAO

[2019-03-28 12:27] #5 closed, assigned to jhayden2000

[2019-03-28 12:31] #50 closed, assigned to nobody

[2019-03-28 12:33] SEAO-MobileApps commented on #17
Hi @jhayden2000

As of now we do not have any plan of implementing this in our app but we are still forwarding it to our team and suitable action will be taken.